@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.scrollable::-webkit-scrollbar {
    width: 5px;
    background: rgba(211, 211, 211, 0.432);
}

::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change the color on hover */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Set the color of the scrollbar handle */
    border-radius: 4px; /* Set the border radius of the scrollbar handle */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the color of the scrollbar track */
  }
  
  /* Handle when it's grabbing (clicking and holding) */
  ::-webkit-scrollbar-thumb:active {
    background: #555;
  }

.direction {
    visibility: hidden;
    transition: 0.5s ease-in-out;
  }

.hero:hover .direction {
  visibility: visible;
}

.carousel {
  transition: all 1s ease;
}

.holder::-webkit-scrollbar {
  display: none;
}
